.centro{width:980px;padding-right:0;padding-left:0;margin:0 auto}
.inline{display:inline-block;*display:inline;zoom:1;vertical-align:top}
.aviso{color:#9f6000;background-color:#feefb3;border:2px #9f6000 solid}
.sucesso{border:2px #c6d880 solid;background-color:#e6efc2;color:#264409}
.falha{border:2px #d8000c solid;color:#d8000c;background-color:#ffbaba}
.offscreen{display:block;text-indent:-999999999px}
.align-right{text-align:right}
html body{background-color:#414131}html body header{height:122px;background-color:#414131;border-bottom:1px #656557 solid;position:relative;z-index:999}html body header #logo-link{margin-top:30px;float:left}
html body header .centro{position:relative}
html body header nav{width:685px;position:absolute;z-index:9999;top:0;right:0;height:122px}html body header nav ul{list-style:none;height:122px;white-space:nowrap}html body header nav ul li{height:122px;display:inline-block;*display:inline;zoom:1;vertical-align:top}html body header nav ul li a{position:relative;z-index:9999;height:122px;display:block;font-family:'Oswald',sans-serif;font-size:20px;font-weight:normal;line-height:150px;padding:0 15px;overflow:hidden;color:#8c8c7c;background-image:url('../_imgs/layout/marcador-menu.png'),url('../_imgs/layout/seta-abaixo.png');background-position:center -37px,center 160px;background-repeat:no-repeat,no-repeat;-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in}html body header nav ul li a:active,html body header nav ul li a:visited{color:#8c8c7c}
html body header nav ul li a.ativo{color:#fff;background-image:url('../_imgs/layout/marcador-menu.png'),url('../_imgs/layout/seta-abaixo.png');background-position:center 37px,center 97px;background-repeat:no-repeat,no-repeat}
html body header nav ul li:hover a,html body header nav ul li.ativo a{color:#fff;background-image:url('../_imgs/layout/marcador-menu.png'),url('../_imgs/layout/seta-abaixo.png');background-position:center 37px,center 97px;background-repeat:no-repeat,no-repeat}
html body header nav ul li#mn-produtos.comsub:hover .submenu{opacity:1;top:122px}
html body header nav ul li#social{width:56px;height:16px;font-size:0;padding-top:68px}html body header nav ul li#social>a{display:block;width:16px;height:16px;line-height:16px !important;padding:0 !important;overflow:hidden;position:relative;background:none;display:inline-block;*display:inline;zoom:1;vertical-align:top}html body header nav ul li#social>a:after{content:"";display:block;width:16px;height:16px;top:0;left:0;position:absolute;opacity:0;transition:opacity .3s ease-in}
html body header nav ul li#social>a img{display:block;max-width:100%}
html body header nav ul li#social #link-fb:after{background:url('/_imgs/layout/erea-ico-fb.png') center -16px no-repeat}
html body header nav ul li#social #link-insta{margin:0 4px}html body header nav ul li#social #link-insta:after{background:url('/_imgs/layout/erea-ico-insta.png') center -16px no-repeat}
html body header nav ul li#social #link-pint:after{background:url('/_imgs/layout/erea-ico-pint.png') center -16px no-repeat}
html body header nav ul li#social a:hover:after{opacity:1}
html body header nav ul li .submenu{white-space:normal;-webkit-transition:opacity .2s ease-in;-moz-transition:opacity .2s ease-in;-o-transition:opacity .2s ease-in;transition:opacity .2s ease-in;border-top:1px #656557 solid;height:auto;position:absolute;z-index:9999;top:-500px;background:#414131;padding-top:18px;border-bottom:2px #1d003f solid;max-width:290px}html body header nav ul li .submenu li{height:20px;min-width:142px}html body header nav ul li .submenu li a{height:20px;line-height:100%;color:#8c8c7c;background-image:none;font-family:'Oswald',sans-serif;font-size:14px;font-weight:normal;-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in}html body header nav ul li .submenu li a:active,html body header nav ul li .submenu li a:visited{color:#8c8c7c}
html body header nav ul li .submenu li a:hover,html body header nav ul li .submenu li a.subativo{background-image:none;color:#fff}
html body .main{background-color:#4d4d3d}
html body footer{height:35px;border-top:1px #656557 solid;background:url('../_imgs/layout/bg-textura.png')}html body footer .centro{height:35px;position:relative}html body footer .centro .direitos{height:35px;line-height:35px;position:absolute;top:0;left:0;font-family:'Verdana','Arial',sans-serif;font-size:9px;font-weight:normal;color:#fff}
html body footer .centro .trupe{height:35px;line-height:35px;position:absolute;top:0;right:0;color:#fff;font-family:'Verdana','Arial',sans-serif;font-size:9px;font-weight:normal}html body footer .centro .trupe img{margin-left:10px;vertical-align:-3px}
html body footer .centro .trupe span{border-bottom:1px transparent dotted;-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in}
html body footer .centro .trupe:active,html body footer .centro .trupe:visited{color:#fff}
html body footer .centro .trupe:hover span{border-bottom:1px #fff dotted}
