@import 'vars.less';

html{
	body{
		background-color:@musgo;
		header{
			height:122px;
			background-color:@musgo;
			border-bottom:1px #656557 solid;
			position:relative;
			z-index:999;
			#logo-link{
				margin-top:30px;
				float:left;
			}
			.centro{position:relative;}
			nav{
				width:685px;
				position:absolute;
				z-index:9999;
				top:0;
				right:0;
				height:122px;
				ul{
					list-style: none;
					height:122px;
					white-space:nowrap;
					li{
						height:122px;
						.inline;
						a{
							position:relative;
							z-index:9999;
							height:122px;
							display:block;
							.oswald(20px);
							line-height:150px;
							padding:0 15px;
							overflow:hidden;
							color:@cinza_claro;
							background-image:url('../_imgs/layout/marcador-menu.png'), url('../_imgs/layout/seta-abaixo.png');
							background-position: center -37px, center 160px;
							background-repeat: no-repeat, no-repeat;
							.transition;
							&:active, &:visited{color:@cinza_claro;}
							&.ativo{
								color:#fff;
								background-image:url('../_imgs/layout/marcador-menu.png'), url('../_imgs/layout/seta-abaixo.png');
								background-position: center 37px, center 97px;
								background-repeat: no-repeat, no-repeat;
							}
						}
						&:hover a, &.ativo a{
							color:#fff;
							background-image:url('../_imgs/layout/marcador-menu.png'), url('../_imgs/layout/seta-abaixo.png');
							background-position: center 37px, center 97px;
							background-repeat: no-repeat, no-repeat;
						}
						&#mn-produtos.comsub:hover .submenu{
							opacity:1;
							top:122px;
						}

						&#social{
							width: 56px;
							height: 16px;
							font-size: 0;
							padding-top: 68px;
							& > a{
								display: block;
								width: 16px;
								height: 16px;
								line-height: 16px !important;
								padding: 0 !important;
								overflow: hidden;
								position: relative;
								background:none;
								&:after{
									content: "";
									display: block;
									width: 16px;
									height: 16px;
									top: 0;
									left: 0;
									position: absolute;
									opacity: 0;
									transition: opacity .3s ease-in;
								}
								.inline;
								img{
									display: block;
									max-width: 100%;
								}
							}
							#link-fb{
								&:after{
									background: url('/_imgs/layout/erea-ico-fb.png') center -16px no-repeat;
								}
							}
							#link-insta{
								margin: 0 4px;
								&:after{
									background: url('/_imgs/layout/erea-ico-insta.png') center -16px no-repeat;
								}
							}
							#link-pint{
								&:after{
									background: url('/_imgs/layout/erea-ico-pint.png') center -16px no-repeat;
								}
							}
							a:hover:after{opacity:1;}
						}

						.submenu{
							white-space:normal;
							.transition(opacity, .2s, ease-in);
							border-top:1px #656557 solid;
							height:auto;
							position:absolute;
							z-index:9999;
							top:-500px;
							background:@musgo;
							padding-top:18px;
							border-bottom:2px @azul solid;
							max-width:290px;
							li{
								height:20px;
								min-width:142px;
								a{
									height:20px;
									line-height:100%;
									color:@cinza_claro;
									background-image:none;
									.oswald(14px);
									.transition;
									&:active, &:visited{color:@cinza_claro;}
									&:hover, &.subativo{
										background-image:none;
										color:@branco;
									}
								}
							}
						}
					}
				}
			}
		}
		.main{
			background-color:@cinza_escuro;
		}
		footer{
			height:35px;
			border-top:1px #656557 solid;
			background:url('../_imgs/layout/bg-textura.png');
			.centro{
				height:35px;
				position:relative;
				.direitos{
					height:35px;
					line-height:35px;
					position:absolute;
					top:0;
					left:0;
					.verdana(9px);
					color:@branco;
				}
				.trupe{
					height:35px;
					line-height:35px;
					position:absolute;
					top:0;
					right:0;
					color:@branco;
					img{
						margin-left:10px;
						vertical-align: -3px;
					}
					span{
						border-bottom:1px transparent dotted;
						.transition;
					}
					.verdana(9px);
					&:active, &:visited{color:@branco;}
					&:hover{
						span{border-bottom:1px #fff dotted;}
					}
				}
			}
		}
	}
}
