.centro {
  width: 980px;
  padding-right: 0;
  padding-left: 0;
  margin: 0 auto;
}
.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.align-right {
  text-align: right;
}
.main {
  padding: 30px 0;
  font-size: 0;
}
.main .centro.clippings a {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 180px;
  overflow: hidden;
  position: relative;
  color: #000;
  line-height: 130%;
  margin: 0 20px 35px 0;
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.main .centro.clippings a:hover {
  color: #8c8c7c;
}
.main .centro.clippings a:hover .imagem .overlay {
  opacity: 1;
}
.main .centro.clippings a:nth-child(5n) {
  margin-right: 0;
}
.main .centro.clippings a .imagem {
  position: relative;
  width: 180px;
  height: 239px;
  margin-bottom: 3px;
}
.main .centro.clippings a .imagem img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 178px;
  border: 1px #000 solid;
}
.main .centro.clippings a .imagem .overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  width: 178px;
  height: 240px;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  background: url('rgba.php/rgba(0, 0, 0, 0.3)');
  background: rgba(0, 0, 0, 0.3);
}
.main img.ampliada {
  border: 1px #000 solid;
}
.main .voltar-btn {
  color: #fff;
  display: block;
  margin: 3px 0 5px 0;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.main .voltar-btn:active,
.main .voltar-btn:visited {
  color: #fff;
}
.main .voltar-btn:hover {
  color: #1d003f;
}
