@import 'vars.less';

.main{
	padding:30px 0;
	font-size:0;
	.centro.clippings a {
		.inline;
		width:180px;
		overflow:hidden;
		position:relative;
		color:#000;
		line-height:130%;
		margin:0 20px 35px 0;
		.oswald(14px);
		.transition;
		&:hover{
			color:@cinza_claro;
			.imagem .overlay{
				opacity:1;
			}
		}
		&:nth-child(5n){margin-right:0;}
		.imagem{
			position:relative;
			width:180px;
			height:239px;
			margin-bottom:3px;
			img {
				position:absolute;
				top:0;
				left:0;
				z-index:1;
				width:178px;
				border:1px #000 solid;
			}
			.overlay{
				position:absolute;
				top:0;
				left:0;
				z-index:99;
				width:178px;
				height:240px;
				opacity:0;
				.transition;
				background: url('rgba.php/rgba(0, 0, 0, 0.3)');
				background: rgba(0, 0, 0, 0.3);
			}
		}
	}
	img.ampliada {
		border:1px #000 solid;
	}
	.voltar-btn{
		color:#fff;
		display:block;
		margin:3px 0 5px 0;
		.oswald(18px);
		.transition;
		&:active, &:visited{color:#fff;}
		&:hover{color:@azul;}
	}
}