@import 'vars.less';

.main{
	position:relative;
	overflow:hidden;
	.coluna{
		width:49%;
		height:100%;
		.inline;
		&.mapa{
			iframe{
				width:100% !important;
				height:100% !important;
			}
		}
		&.form{
			.pad{
				padding:35px;
				.telefone{
					.oswald(22px);
					color:@cinza_claro;
				}
				.endereco{
					.oswald(18px);
					margin:10px 0 50px 0;
					color:@cinza_claro;
				}
				.agradecimento{
					.oswald(22px);
					color:@branco;
				}
				form{
					.oswald(14px);
					color:@cinza_claro;
					width:440px;
					input[type="text"],
					input[type="email"]{
						display:block;
						background:@musgo;
						height:14px;
						line-height:14px;
						color:@branco;
						.verdana(11px);
						padding:2px 5px 2px 10px;
						margin:0 0 2px 0;
						border:0;
						width:425px;
					}
					textarea{
						width:425px;
						display:block;
						background:@musgo;
						color:@branco;
						.verdana(11px);
						padding:2px 5px 2px 10px;
						margin:0 0 2px 0;
						border:0;
						resize:none;
						overflow:auto;
						height:80px;
					}
					input[type="submit"]{
						.oswald(22px);
						color:@cinza_claro;
						float:right;
						cursor:pointer;
						background:none;
						border:0;
						.transition;
						&:hover{
							color:@azul;
						}
					}
				}
			}
		}
	}
}