@import 'vars.less';

.main{
	overflow:hidden;
	position:relative;
	#slides{
		width:100%;
		height:100%;
		.slide{
			width:100%;
			height:100%;
			position:relative;
			background-size: 100% auto;
			background-position: center center;
			background-repeat: no-repeat;
		}
		&.alt{
			.slide{
				background-size: auto 100%;
			}
		}
	}
	#frase-destaque{
		position:absolute;
		z-index:99;
		width:100%;
		top:0;
		left:0;
		height:20px;
		line-height:20px;
		padding:4px 0;
		background: url('rgba.php/rgba(65,65,49,.8)');
		background: rgba(65,65,49,.8);
		color:#fff;
		.oswald(14px);
		overflow: hidden;
		white-space: nowrap;
		span{
			position:absolute;
		}
	}
}