.centro {
  width: 980px;
  padding-right: 0;
  padding-left: 0;
  margin: 0 auto;
}
.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.align-right {
  text-align: right;
}
.main {
  overflow: hidden;
  position: relative;
}
.main #slides {
  width: 100%;
  height: 100%;
}
.main #slides .slide {
  width: 100%;
  height: 100%;
  position: relative;
  background-size: 100% auto;
  background-position: center center;
  background-repeat: no-repeat;
}
.main #slides.alt .slide {
  background-size: auto 100%;
}
.main #frase-destaque {
  position: absolute;
  z-index: 99;
  width: 100%;
  top: 0;
  left: 0;
  height: 20px;
  line-height: 20px;
  padding: 4px 0;
  background: url('rgba.php/rgba(65,65,49,.8)');
  background: rgba(65, 65, 49, 0.8);
  color: #fff;
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
  font-weight: normal;
  overflow: hidden;
  white-space: nowrap;
}
.main #frase-destaque span {
  position: absolute;
}
