@import 'vars.less';

.lifestyle{
	//padding-top:40px;
	padding-bottom:40px;
	font-size:0;
	min-height:620px;
	.centralizar(1160px);
	position:relative;
	ul{
		list-style:none;
		position:relative;
		width:1160px;
		height:580px;
		display:block;
		margin:0 auto;
		top:40px;
		-webkit-transition:left .6s ease-in, opacity .2s ease-in;
		-moz-transition:left .6s ease-in, opacity .2s ease-in;
		-o-transition:left .6s ease-in, opacity .2s ease-in;
		transition:left .6s ease-in, opacity .2s ease-in;
		&.pre{
			position:absolute;
			left:1160px;
			top:40px;
			opacity:0 !important;
		}
		&.pos{
			position:absolute;
			left:-1160px;
			top:40px;
			opacity:0 !important;
		}
		li{
			position:absolute;
			&.h{
				width:330px;
				height:220px;
				img{
					opacity:1;
					width:330px;
					height:220px;					
				}
				&.h-1{top:0; left:130px;}
				&.h-2{top:110px; left:720px;}
				&.h-3{top:350px; left:480px;}
				&.h-4{top:350px; left:830px;}
			}
			&.v{
				width:220px;
				height:330px;
				img{
					opacity:1;
					width:220px;
					height:330px;
					.transition;
				}
				&.v-1{top:240px; left:0;}
				&.v-2{top:240px; left:240px;}
				&.v-3{top:0; left:480px;}				
			}
		}
	}
	#texto{
		position:absolute;
		top:60px;
		line-height:120%;
		right:0;
		width:440px;
		height:70px;
		overflow:hidden;
		color:@cinza_claro;
		.oswald(28px);
	}
	.loading{
		height:20px;
		width:20px;
		position:absolute;
		top:217px;
		right:78px;
		background:url('../_imgs/layout/ajax-loader.gif') center center no-repeat;
		.transition;
		overflow:hidden;
		&.fechado{height:0;}
	}
	#vermais-lifestyle{
		display:block;
		position:absolute;
		right:30px;
		top:200px;
		width:70px;
		text-align:center;
		color:@cinza_claro;
		.oswald(30px);
		.transition;
		&:active, &:visited{color:@cinza_claro;}
		&:hover{color:#fff;}
	}
}