.centro {
  width: 980px;
  padding-right: 0;
  padding-left: 0;
  margin: 0 auto;
}
.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.align-right {
  text-align: right;
}
.lifestyle {
  padding-bottom: 40px;
  font-size: 0;
  min-height: 620px;
  width: 1160px;
  padding-right: 0;
  padding-left: 0;
  margin: 0 auto;
  position: relative;
}
.lifestyle ul {
  list-style: none;
  position: relative;
  width: 1160px;
  height: 580px;
  display: block;
  margin: 0 auto;
  top: 40px;
  -webkit-transition: left 0.6s ease-in, opacity 0.2s ease-in;
  -moz-transition: left 0.6s ease-in, opacity 0.2s ease-in;
  -o-transition: left 0.6s ease-in, opacity 0.2s ease-in;
  transition: left 0.6s ease-in, opacity 0.2s ease-in;
}
.lifestyle ul.pre {
  position: absolute;
  left: 1160px;
  top: 40px;
  opacity: 0 !important;
}
.lifestyle ul.pos {
  position: absolute;
  left: -1160px;
  top: 40px;
  opacity: 0 !important;
}
.lifestyle ul li {
  position: absolute;
}
.lifestyle ul li.h {
  width: 330px;
  height: 220px;
}
.lifestyle ul li.h img {
  opacity: 1;
  width: 330px;
  height: 220px;
}
.lifestyle ul li.h.h-1 {
  top: 0;
  left: 130px;
}
.lifestyle ul li.h.h-2 {
  top: 110px;
  left: 720px;
}
.lifestyle ul li.h.h-3 {
  top: 350px;
  left: 480px;
}
.lifestyle ul li.h.h-4 {
  top: 350px;
  left: 830px;
}
.lifestyle ul li.v {
  width: 220px;
  height: 330px;
}
.lifestyle ul li.v img {
  opacity: 1;
  width: 220px;
  height: 330px;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.lifestyle ul li.v.v-1 {
  top: 240px;
  left: 0;
}
.lifestyle ul li.v.v-2 {
  top: 240px;
  left: 240px;
}
.lifestyle ul li.v.v-3 {
  top: 0;
  left: 480px;
}
.lifestyle #texto {
  position: absolute;
  top: 60px;
  line-height: 120%;
  right: 0;
  width: 440px;
  height: 70px;
  overflow: hidden;
  color: #8c8c7c;
  font-family: 'Oswald', sans-serif;
  font-size: 28px;
  font-weight: normal;
}
.lifestyle .loading {
  height: 20px;
  width: 20px;
  position: absolute;
  top: 217px;
  right: 78px;
  background: url('../_imgs/layout/ajax-loader.gif') center center no-repeat;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  overflow: hidden;
}
.lifestyle .loading.fechado {
  height: 0;
}
.lifestyle #vermais-lifestyle {
  display: block;
  position: absolute;
  right: 30px;
  top: 200px;
  width: 70px;
  text-align: center;
  color: #8c8c7c;
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.lifestyle #vermais-lifestyle:active,
.lifestyle #vermais-lifestyle:visited {
  color: #8c8c7c;
}
.lifestyle #vermais-lifestyle:hover {
  color: #fff;
}
