@import 'vars.less';

.centro.novidades{
	padding:25px 0;
	font-size:0;
	ul{
		list-style:none;
		border-bottom:2px @cinza_claro solid;
		li{
			.inline;
			width:310px;
			margin-right: 25px;
			margin-bottom:25px;
			border-top:2px @cinza_claro solid;
			&:nth-child(3n){margin-right:0;}
			img{
				margin:10px auto 0 auto;
				max-width:310px;
				display:block;
				.transition;
			}
			.data{
				color:@cinza_claro;
				.verdana(10px);
				line-height:100%;
				margin:4px 0;
			}
			h1{
				.oswald(22px);
				color:@cinza_claro;
				line-height:140%;
			}
			.texto{
				color:#fff;
				margin:10px 0;
				.verdana(13px);
				line-height:160%;
			}
			.transition;
			&.fechado{
				height:0;
				margin:0;
				border:0;
				overflow:hidden;
				img{
					height:0;
				}
			}
		}
	}
	.loading{
		height:20px;
		background:url('../_imgs/layout/ajax-loader.gif') center center no-repeat;
		.transition;
		overflow:hidden;
		&.fechado{height:0;}
	}
	#vermais-novidades{
		display:block;
		width:70px;
		margin:2px auto;
		text-align:center;
		color:@cinza_claro;
		.oswald(16px);
		.transition;
		&:active, &:visited{color:@cinza_claro;}
		&:hover{color:#fff;}
	}
}