.centro {
  width: 980px;
  padding-right: 0;
  padding-left: 0;
  margin: 0 auto;
}
.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.align-right {
  text-align: right;
}
.centro.novidades {
  padding: 25px 0;
  font-size: 0;
}
.centro.novidades ul {
  list-style: none;
  border-bottom: 2px #8c8c7c solid;
}
.centro.novidades ul li {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 310px;
  margin-right: 25px;
  margin-bottom: 25px;
  border-top: 2px #8c8c7c solid;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.centro.novidades ul li:nth-child(3n) {
  margin-right: 0;
}
.centro.novidades ul li img {
  margin: 10px auto 0 auto;
  max-width: 310px;
  display: block;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.centro.novidades ul li .data {
  color: #8c8c7c;
  font-family: 'Verdana', 'Arial', sans-serif;
  font-size: 10px;
  font-weight: normal;
  line-height: 100%;
  margin: 4px 0;
}
.centro.novidades ul li h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 22px;
  font-weight: normal;
  color: #8c8c7c;
  line-height: 140%;
}
.centro.novidades ul li .texto {
  color: #fff;
  margin: 10px 0;
  font-family: 'Verdana', 'Arial', sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 160%;
}
.centro.novidades ul li.fechado {
  height: 0;
  margin: 0;
  border: 0;
  overflow: hidden;
}
.centro.novidades ul li.fechado img {
  height: 0;
}
.centro.novidades .loading {
  height: 20px;
  background: url('../_imgs/layout/ajax-loader.gif') center center no-repeat;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  overflow: hidden;
}
.centro.novidades .loading.fechado {
  height: 0;
}
.centro.novidades #vermais-novidades {
  display: block;
  width: 70px;
  margin: 2px auto;
  text-align: center;
  color: #8c8c7c;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.centro.novidades #vermais-novidades:active,
.centro.novidades #vermais-novidades:visited {
  color: #8c8c7c;
}
.centro.novidades #vermais-novidades:hover {
  color: #fff;
}
