@import 'vars.less';

.main{
	overflow:hidden;
	.centro.perfil{
		.centralizar(980px);
		padding-top:40px;
		padding-bottom:40px;
		font-size:0;
		.imagem{
			.inline;
			margin-right:40px;
			width:420px;
			img{
				max-width: 420px;
				display:block;
				margin:0 auto;
			}
		}
		.coluna-texto{
			.inline;
			width:520px;
			padding-bottom:40px;
			.texto1, .texto3{
				.verdana(11px);
				line-height:150%;
				margin:5px 0;
				color:@branco;		
			}
			.texto1{
				margin-top:0;
				a{
					font-weight: bold;
					color:@branco;
					text-decoration: none;
					.transition;
					&:active, &:visited{color:@branco;}
					&:hover{color:@azul;}
				}
			}
			.texto2{
				.verdana(20px);
				line-height:140%;
				margin:10px 0;
				color:@branco;	
			}
		}
	}
	.texto{
		width:750px;
		margin:33px auto 50px auto;
		.verdana(11px);
		color:@branco;
		line-height:20px;
		text-align:center;		
	}
	.coluna-placeholder{
		font-size:0;
		.centralizar;
		padding-bottom:175px;
		.coluna{
			&:first-child .texto{text-align:right;}
			.inline;
			width:49%;
			.texto{
				text-align:left;
				margin:0;
				.inline;
				width:49%;
				p{padding:0 5px;}
			}
			.imagem{
				.inline;
				width:49%;
				img{width:100%;}
			}
		}
	}
}