@import 'vars.less';

.main{
	overflow:hidden;
	.nome-categoria{
		height:48px;
		line-height:48px;
		border-bottom:2px #565647 solid;
		color:#717162;
		.oswald(18px);
		span{
			color:#1D003F;
		}
		a{
			float:right;
			color:#fff;
			.transition;
			&:active, &:visited{color:#fff;}
			&:hover{color:@azul;}
		}
	}
	h2{
		margin:35px 0;
		.centralizar;
		.oswald(20px);
		color:@branco;
	}
	#lista-categorias{
		width:400px;
		padding:45px 0;
		display:block;
		margin:0 auto;
		list-style: none;
		li{
			width:100%;
			text-align: center;
			a{
				color:@cinza_claro;
				.oswald(20px);
				line-height:200%;
				.transition;
				&:active, &:visited{color:@cinza_claro;}
				&:hover{color:#FFF;}
			}
		}
	}
	.produtos-container{
		margin:35px 0;
		height:394px;
		width:100%;
		white-space: nowrap;
		position:relative;
		ul.produtos-slide{
			position:absolute;
			top:0;
			left:0;
			white-space: nowrap;
			list-style:none;
			li{
				.inline;
				width:195px;
				a{
					width:195px;
					height:195px;
					display:block;
					img{
						max-width:160px;
						max-height:160px;
						display:block;
						margin:18px auto;
						.transition;
					}
					.transition;
					border-top:2px transparent solid;
					background:url('rgba.php/rgba(77, 77, 61, 1') @cinza_escuro 0 0 repeat;
					&:active, &:visited{}
					&:hover{
						border-top:2px @azul solid;
						background:url('../_imgs/layout/bg-textura.png') @cinza_escuro 0 0 repeat;
					}
					&.apagado img{
						filter: grayscale(100%);
						-webkit-filter: grayscale(100%);
						-moz-filter: grayscale(100%);
						filter: grayscale(100%);
						-moz-transform: scale(0.3);
						-webkit-transform: scale(0.3);
				        -o-transform: scale(0.3);
				        -ms-transform: scale(0.3);
				        transform: scale(0.3);
				        opacity:0;
						-moz-opacity: 0;
						filter: alpha(opacity=0);
					}
					&.apagado:hover{background:@cinza_escuro; border:0;cursor:default;}
				}
				&.duplo{
					width:390px;
					a{
						width:390px;
						img{
							max-width:390px;
						}
					}
				}
			}
		}
	}
	.slider-placeholder{
		height:40px;
		#slider{
			height:3px;
			background:@cinza_claro;
			position:relative;
			.ui-slider-handle{
				position:relative;
				top:-8px;
				width:40px;
				height:20px;
				display:block;
				background:url('../_imgs/layout/scroll-horizontal.png') center center no-repeat;
			}
		}
	}
	.detalhes{
		font-size:0;
		margin:27px auto;
		#ampliada{
			width:520px;
			height:520px;
			overflow:hidden;
			.inline;
			img{
				max-width:470px;
				max-height:470px;
				margin:25px auto;
				display:block;
			}
		}
		#variacoes{
			width:146px;
			min-height:520px;
			.inline;
			.borda{
				height:520px;
				display:block;
				border-right:1px @musgo solid;
			}
			.nav{
				height:10px;
				display:block;
				.transition;
				&.nav-up{
					background:url('../_imgs/layout/seta-acima.png') @musgo center center no-repeat;
					margin-bottom:2px;
					&:hover{
						background:url('../_imgs/layout/seta-acima.png') @azul center center no-repeat;
					}
				}
				&.nav-down{
					background:url('../_imgs/layout/seta-abaixo.png') @musgo center center no-repeat;
					margin-top:2px;
					&:hover{
						background:url('../_imgs/layout/seta-abaixo.png') @azul center center no-repeat;
					}
				}
			}
			.thumb-viewport{
				height:439px;
				overflow:hidden;
				position:relative;
				li{
					width:145px;
					height:145px;
					margin-bottom:2px;
					.transition;
					top:0;
					.thumb{
						display:block;
						overflow:hidden;
						width:141px;
						height:145px;
						background:url('../_imgs/layout/bg-textura.png');
						border-right:2px @musgo solid;
						border-left:2px @musgo solid;
						img{
							display:block;
							max-width:120px;
							max-height:120px;
							margin:12px auto;
						}
						.transition;
						&:hover, &.variacao-ativo{
							border-right:2px @azul solid;
							border-left:2px @azul solid;
						}
					}
				}
			}
		}
		#texto{
			.inline;
			width:314px;
			h1{
				.oswald(18px);
				color:@branco;
				line-height:120%;
				padding:23px 0 0 50px;
			}
			p{
				.oswald(15px);
				color:@marrom;
				padding:23px 0 0 50px;
			}
		}
	}
}