.centro {
  width: 980px;
  padding-right: 0;
  padding-left: 0;
  margin: 0 auto;
}
.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.align-right {
  text-align: right;
}
.main {
  overflow: hidden;
}
.main .nome-categoria {
  height: 48px;
  line-height: 48px;
  border-bottom: 2px #565647 solid;
  color: #717162;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  font-weight: normal;
}
.main .nome-categoria span {
  color: #1D003F;
}
.main .nome-categoria a {
  float: right;
  color: #fff;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.main .nome-categoria a:active,
.main .nome-categoria a:visited {
  color: #fff;
}
.main .nome-categoria a:hover {
  color: #1d003f;
}
.main h2 {
  margin: 35px 0;
  width: 980px;
  padding-right: 0;
  padding-left: 0;
  margin: 0 auto;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: #ffffff;
}
.main #lista-categorias {
  width: 400px;
  padding: 45px 0;
  display: block;
  margin: 0 auto;
  list-style: none;
}
.main #lista-categorias li {
  width: 100%;
  text-align: center;
}
.main #lista-categorias li a {
  color: #8c8c7c;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 200%;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.main #lista-categorias li a:active,
.main #lista-categorias li a:visited {
  color: #8c8c7c;
}
.main #lista-categorias li a:hover {
  color: #FFF;
}
.main .produtos-container {
  margin: 35px 0;
  height: 394px;
  width: 100%;
  white-space: nowrap;
  position: relative;
}
.main .produtos-container ul.produtos-slide {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  list-style: none;
}
.main .produtos-container ul.produtos-slide li {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 195px;
}
.main .produtos-container ul.produtos-slide li a {
  width: 195px;
  height: 195px;
  display: block;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  border-top: 2px transparent solid;
  background: url('rgba.php/rgba(77, 77, 61, 1') #4d4d3d 0 0 repeat;
}
.main .produtos-container ul.produtos-slide li a img {
  max-width: 160px;
  max-height: 160px;
  display: block;
  margin: 18px auto;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.main .produtos-container ul.produtos-slide li a:hover {
  border-top: 2px #1d003f solid;
  background: url('../_imgs/layout/bg-textura.png') #4d4d3d 0 0 repeat;
}
.main .produtos-container ul.produtos-slide li a.apagado img {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
  -moz-transform: scale(0.3);
  -webkit-transform: scale(0.3);
  -o-transform: scale(0.3);
  -ms-transform: scale(0.3);
  transform: scale(0.3);
  opacity: 0;
  -moz-opacity: 0;
  filter: alpha(opacity=0);
}
.main .produtos-container ul.produtos-slide li a.apagado:hover {
  background: #4d4d3d;
  border: 0;
  cursor: default;
}
.main .produtos-container ul.produtos-slide li.duplo {
  width: 390px;
}
.main .produtos-container ul.produtos-slide li.duplo a {
  width: 390px;
}
.main .produtos-container ul.produtos-slide li.duplo a img {
  max-width: 390px;
}
.main .slider-placeholder {
  height: 40px;
}
.main .slider-placeholder #slider {
  height: 3px;
  background: #8c8c7c;
  position: relative;
}
.main .slider-placeholder #slider .ui-slider-handle {
  position: relative;
  top: -8px;
  width: 40px;
  height: 20px;
  display: block;
  background: url('../_imgs/layout/scroll-horizontal.png') center center no-repeat;
}
.main .detalhes {
  font-size: 0;
  margin: 27px auto;
}
.main .detalhes #ampliada {
  width: 520px;
  height: 520px;
  overflow: hidden;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.main .detalhes #ampliada img {
  max-width: 470px;
  max-height: 470px;
  margin: 25px auto;
  display: block;
}
.main .detalhes #variacoes {
  width: 146px;
  min-height: 520px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.main .detalhes #variacoes .borda {
  height: 520px;
  display: block;
  border-right: 1px #414131 solid;
}
.main .detalhes #variacoes .nav {
  height: 10px;
  display: block;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.main .detalhes #variacoes .nav.nav-up {
  background: url('../_imgs/layout/seta-acima.png') #414131 center center no-repeat;
  margin-bottom: 2px;
}
.main .detalhes #variacoes .nav.nav-up:hover {
  background: url('../_imgs/layout/seta-acima.png') #1d003f center center no-repeat;
}
.main .detalhes #variacoes .nav.nav-down {
  background: url('../_imgs/layout/seta-abaixo.png') #414131 center center no-repeat;
  margin-top: 2px;
}
.main .detalhes #variacoes .nav.nav-down:hover {
  background: url('../_imgs/layout/seta-abaixo.png') #1d003f center center no-repeat;
}
.main .detalhes #variacoes .thumb-viewport {
  height: 439px;
  overflow: hidden;
  position: relative;
}
.main .detalhes #variacoes .thumb-viewport li {
  width: 145px;
  height: 145px;
  margin-bottom: 2px;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  top: 0;
}
.main .detalhes #variacoes .thumb-viewport li .thumb {
  display: block;
  overflow: hidden;
  width: 141px;
  height: 145px;
  background: url('../_imgs/layout/bg-textura.png');
  border-right: 2px #414131 solid;
  border-left: 2px #414131 solid;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.main .detalhes #variacoes .thumb-viewport li .thumb img {
  display: block;
  max-width: 120px;
  max-height: 120px;
  margin: 12px auto;
}
.main .detalhes #variacoes .thumb-viewport li .thumb:hover,
.main .detalhes #variacoes .thumb-viewport li .thumb.variacao-ativo {
  border-right: 2px #1d003f solid;
  border-left: 2px #1d003f solid;
}
.main .detalhes #texto {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 314px;
}
.main .detalhes #texto h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: #ffffff;
  line-height: 120%;
  padding: 23px 0 0 50px;
}
.main .detalhes #texto p {
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
  font-weight: normal;
  color: #272719;
  padding: 23px 0 0 50px;
}
